:root {
  --text_normal: 	#fff;
  --text_header: #7289da;
  --background_bright: #99aab5;
  --background_dark_alternate: #2F3437;
  --background_dark: #2c2f33;
  --background_darkest: #23272a;
}

body {
  width: 200px;
  height: auto;
  color: var(--text_normal);
  background-color: var(--background_darkest);

  display: grid;
}

.title {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}


.slider-form {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.slider-container {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--background_dark);
  }

.slider {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  background-color: var(--text_header);
  transition: width 0.3s ease;
}

.slider-button {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: var(--background_bright);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.slider-container.active .slider {
  width: 100%;
}

.slider-container.active .slider-button {
  transform: translateX(20px);
}

a.actionButton {
  & {
    display: inline-block;
    position: relative;
    height: 20px;
    color: var(--text_normal);
  }
  &:active {
    color: var(--background_bright);
  }
}

#login-form-holder {
  & {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #profile-picture {
    width: 32px;
    height: 32px;
    clip-path: circle();
  }
}