:root {
  --text_normal: 	#fff;
  --text_header: #7289da;
  --text_accent: yellow;
  --background_bright: #99aab5;
  --background_dark_alternate: #2F3437;
  --background_dark: #2c2f33;
  --background_darkest: #23272a;
}

body {
  width: 200px;
  height: auto;
  padding: 8px;

  display: grid;

  color: var(--text_normal);
  background-color: var(--background_darkest);

}

.title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}


.slider-form {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.slider-container {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--background_dark);
  }

.slider {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  background-color: var(--text_header);
  transition: width 0.3s ease;
}

.slider-button {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: var(--background_bright);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.slider-container.active .slider {
  width: 100%;
}

.slider-container.active .slider-button {
  transform: translateX(20px);
}

#login-form-holder {
  & {
    display: flex;
    align-items: center;
  }
  #profile-picture {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    clip-path: circle();  
  }
  #login-button {
    margin-right: 16px;
  }
}

a {
  &.actionButton {
    & {
      display: inline-block;
      position: relative;
      height: 20px;
      color: var(--text_normal);
    }
  }
  &.actionLink {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: var(--text_header);

    & {
      p {
        display: inline;
      }
      .tooltip {
        visibility: hidden;
  
        position: absolute;
        z-index: 10;
  
        color: var(--text_normal);
        background-color: var(--background_dark_alternate);
        
        padding: 4px;
        border-radius: 4px;
  
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
    &:hover {
      .tooltip {
        visibility: visible;
  
        transform: translate(8px, -150%);
      }
    }
  }

  &:active {
    color: var(--background_bright);
  }
}