.warp {
    overflow-x: clip !important;
}

/*#1 Fix*/
.order-actions {
    width: max-content;
    padding-bottom: 10px;
}

.order-actions + a {
    display: flex;
    align-items: baseline;
}

/*#4 Fix*/
.content-panel {
    padding-left: 0 !important;
    margin-left: 20px;
    margin-right: 20px !important;
}
.jidelnice-mini {
    margin-right: 0 !important;
}

.jidlo-mini {
    thead tr {
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    tbody {
        & {
            display: flex;
            flex-direction: column;
            // width: fit-content;
            width: 100%;
            /* width: min-content; */
        }
        tr {
            & {
                display: grid;
                grid-template-columns: 512px 1rem 10% 10% 10% 10%;
                grid-template-rows: 4em 3em auto;
                grid-template-areas:
                "food-images-holder . name name name name"
                "food-images-holder . calories alergies star cart"
                "food-images-holder . rating rating rating rating";
                align-items: center;
                justify-content: start;
                
                text-align: center;
            }
            td {
                &:nth-child(1) {
                    grid-area: calories;
            
                    width: auto;
                    text-align: center;
                }
                //Original primirest star
                &:nth-child(2) {
                    display: none !important;
                    // grid-area: star;
                    
                    // width: auto;
                    // text-align: center;
                }
                
                /*Skip child(3) because it's weird product name*/
                &:nth-child(3) {
                    width: 0;
                    padding: 0;
                }
                &:nth-child(4) {
                    font-size: 1.2em;
                    grid-area: name;
                }
                &:nth-child(5) {
                    grid-area: alergies;
                }
                /*Skip child(6) because it's product price'*/
                &:nth-child(7) {
                    grid-area: cart;
                }
            }
        }
    }
}


/*Weird food category name*/
.visible-md.visible-lg.visible-xl.width15p {
    display: none !important;
}
/*Product price*/
.minWidth95x.text-right strong {
    display: none !important;
} 

.no-data-info {
    & {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        grid-area: food-images-holder;
        position: relative;
    
        height: 300px;
        width: auto;
    }
    b {
        font-size:3em;
    }
    i {
        font-size:1em;
    }
}

.food-images-holder {
    display: inline-flex;
    justify-content: center;
    grid-area: food-images-holder;
    position: relative;

    height: 300px;
    width: auto;

    max-width: 512px;
}

.food-image {
    height: inherit;
    width: inherit;
    max-width: inherit;
}

.food-image-loading {
    & {
        visibility: hidden;
        display: block;
        position: absolute;
        z-index: 1;
        
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    
        padding: 0;
        margin: 0 auto;
    
        border-radius: 50%;
        width: 40px;
        height: 40px;

        border: 4px solid rgba(0, 0, 0, 0.1);
        border-top-color: var(--text_normal);
    }
    &.active {
        visibility: visible;
        animation: spin 1s ease-in-out infinite;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.food-image-control {
    & {
        display: block;
        position: absolute;
        z-index: 1;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        border: 0;
        padding: 0;
    
        background-color: transparent;
        color: transparent;
        font-size: 3em;
    
        transition: all 300ms ease-out;
    }
    &:hover {
        background-color: rgba(255,255,255,0.4);
        color: var(--text_normal);
        border-bottom: solid 2px var(--background_bright) !important;
    }
    &:disabled {
        display: none;
    }
}
.rating-statistics {
    & {
        grid-area: rating;
        display: grid;
        grid-template-columns: 4em auto;
    }
    .list-view {
        ol {
            & {
                color: var(--text_normal);
            }
            li {
                & {
                    display: list-item;
                }
                &::before {
                    display: none;
                }
            }
        }
        .bar-container {
            & {
                $margin-lr: 1em;
    
                width: calc(100% - 2 * $margin-lr);
                height: 1em;
    
                display: inline-block;
                margin: 0 $margin-lr;
    
                border-radius: 1rem;
    
                background: var(--background_dark);
            }
            .bar {
                height: inherit;
                width: var(--value);
    
                border-radius: inherit;
                
                background: var(--text_header);

                transition: width 500ms ease-in-out;
            }
        }
    }
}

.rating-control { 
    & {
        grid-area: star;
        user-select: none;
    }
    a {
        display: inline-block;
        font-size: 1.5em;
        text-decoration: none !important;

        color: var(--text_header) !important;
        user-select: none;

        &:hover,
        // &:focus
        {
          color: var(--text_accent) !important;
        }
    
        &.hover,
        &.decided
        {
          color: var(--text_accent) !important;
        }

        &:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            content: "\f005";
        }
    }
}
