.warp {
    overflow-x: clip !important;
}

/*#1 Fix*/
.order-actions {
    width: max-content;
    padding-bottom: 10px;
}

.order-actions + a {
    display: flex;
    align-items: baseline;
}

/*#4 Fix*/
.content-panel {
    padding-left: 0 !important;
    margin-left: 20px;
    margin-right: 20px !important;
}
.jidelnice-mini {
    margin-right: 0 !important;
}

.jidlo-mini thead tr {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.jidlo-mini tbody {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* width: min-content; */
}

/*#5 Fix*/
.jidlo-mini tbody tr td:nth-child(3) {
    width: 0;
    padding: 0;
}

    /*Weird food category name*/
    .visible-md.visible-lg.visible-xl.width15p {
        display: none !important;
    }
    /*Product price*/
    .minWidth95x.text-right strong {
        display: none !important;
    }

.jidlo-mini tbody tr {
    display: grid;
    
    grid-template-columns: 512px 2% 10% 10% 10% 10% auto;
    grid-template-rows: auto 4em 2em auto;

    grid-template-areas: 
    "food-images-holder . . . . . ."
    "food-images-holder . name name name name ."
    "food-images-holder . calories alergies star cart ."
    "food-images-holder . . . . . .";

    /* justify-content: ; */
    align-items: start;
}
    .jidlo-mini tbody tr td:nth-child(1) {
        grid-area: calories;
    }
    .jidlo-mini tbody tr td:nth-child(2) {
        grid-area: star;
    }
    /*Skip child(3) because it's weird product name*/
    .jidlo-mini tbody tr td:nth-child(4) {
        grid-area: name;
    }
    .jidlo-mini tbody tr td:nth-child(5) {
        grid-area: alergies;
    }
    /*Skip child(6) because it's product price'*/
    .jidlo-mini tbody tr td:nth-child(7) {
        grid-area: cart;
    }

.no-data-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    grid-area: food-images-holder;
    position: relative;

    height: 300px;
    width: auto;
}

.no-data-info b {
    font-size:3em;
}

.no-data-info i {
    font-size:1em;
}

.food-images-holder {
    display: inline-flex;
    justify-content: center;
    grid-area: food-images-holder;
    position: relative;

    height: 300px;
    width: auto;

    max-width: 512px;
    // max-width: 512px;
    // max-height: 512px;
    // width: min-content;
    // height: auto;
}

.food-image {
    height: inherit;
    width: inherit;
    max-width: inherit;
    // max-width: inherit;
    // max-height: inherit;
    // display: block;
    // width: 100%;
}

.food-image-loading {
    visibility: hidden;
    display: block;
    position: absolute;
    z-index: 1;
    
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    /* transform: translate(-50%, -50%); */

    padding: 0;
    margin: 0 auto;

    // border: 4px solid rgba(0, 0, 0, 0.1);
    // border-top-color: #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.food-image-loading.active {
    visibility: visible;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.food-image-control {
    display: block;
    position: absolute;
    z-index: 1;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: 0;
    padding: 0;

    background-color: transparent;
    color: transparent;
    font-size: 3em;

    transition: all 300ms ease-out;
}

.food-image-control:hover {
    background-color: rgba(255,255,255,0.4);
    // color: #3498db;
}

.food-image-control:disabled {
    display: none;
}